.navbar {
    position: fixed;
    bottom: 2%;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 10px;
    z-index: 100;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  
  .icon {
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 600px) {
    .navbar {
      justify-content: space-between;
      padding: 10px 20px;
    }
  }
  