.tech-timeline {
    width: 100%;
    overflow-x: auto;
    isolation: isolate;
  }
  
  .timeline {
    position: relative;
    margin: 40px auto;
    padding: 40px 0;
  }
  
  .timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color:  var(--accent-color);
    backdrop-filter: blur(10px);
    transform: translateX(-50%);
  }
  
  .timeline-event {
    display: grid;
    position: relative;
    margin-bottom: 40px;
  }
  
  .timeline-date {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--accent-color);
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .timeline-content {
    place-self: center;
    padding: 20px;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 4px;
  }
  
  .timeline-content h3 {
    margin-top: 0;
  }
  
  .timeline-content p {
    margin-bottom: 10px;
  }
  
  .timeline-illustration img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  